@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark-mode: 17, 17, 17;
	--dark-mode-txt: 255, 255, 255;

	--light-mode: 255, 255, 255;
	--light-mode-txt: 0, 0, 0;

	--accent-purple: 91 33 182;
}

body {
	background-color: rgb(var(--light-mode));
	color: rgb(var(--light-mode-txt))
}
